{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "globals": {
    "process": "readonly",
    "window": "readonly",
    "describe": "readonly",
    "test": "readonly",
    "expect": "readonly"
  },
  "plugins": ["react-hooks", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "rules": {
    // 規則を追加
  }
}
